<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeConda Web App</title>
</head>
<body>
    <h1>Welcome to the CodeConda Web App!</h1>
    <p>Enter any number, and we'll tell you if it's a prime number.</p>
    <form method="post">
    <div class="form-group">
        <input type="number" name="number" id="number" required>
        <button type="submit"> Submit</button>
    </div>
    </form>
    {% block content %}
    <p>{{ result }}</p>
    {% endblock %}
</body>
</html>